doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title apage
    meta(name="description",content="apage")
    meta(name="keywords",content="apage")
    meta(name="author",content="lunix01")
    meta(name="copyright",content="© https://github.com/lunix01/apage")
    meta(name="viewport",content="width=device-width,initial-scale=1")
    link(rel="stylesheet",type="text/css",href="css/style.css")
  body
    h1 apage