doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title apage
    meta(name="description",content="apage")
    meta(name="keywords",content="apage")
    meta(name="copyright",content="© github.com/lunix01/apage")
    link(rel="stylesheet",type="text/css",href="css/style.css")
  body
    h1 apage
